# Site settings
title: Thoughts on Continuous Integration in the Cloud
email: amaline@yahoo.com
description: > # this means to ignore newlines until "baseurl:"
   Musings and notes during my discovery of cloud based
   continuous integration.
baseurl: "" # the subpath of your site, e.g. /blog/
url: "http://yourdomain.com" # the base hostname & protocol for your site
twitter_username: alanmaline
github_username:  amaline

# Build settings
markdown: kramdown

prose:
  rooturl: "/_posts"
  metadata:
    _posts:
      - name: "layout"
        field:
          element: "select"
          label: "Layout"
          help: "Layout for the article"
          options: 
	    - name: 'Blog post'
              value: 'post'
      - name: "categories"
        field:
          element: "Multiselect"
          label: "Categories"
          help: "Categories for the article"
          options: 
	    - name: 'Jekyll update'
              value: 'Jekyll update'
	    - name: 'Continuous Integration'
              value: 'CI'
	    - name: 'Continuous Deployment'
              value: 'CD'
